ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/ConsoleReporter/bin/Debug/ConsoleReporter.exe
ConsoleReporter/ConsoleReporter/bin/Debug/ConsoleReporter.exe.config
ConsoleReporter/ConsoleReporter/bin/Debug/ConsoleReporter.pdb
ConsoleReporter/ConsoleReporter/bin/Debug/StreetReporter.dll
ConsoleReporter/ConsoleReporter/bin/Debug/StreetReporter.pdb
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.csproj.FileListAbsolute.txt
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.csprojResolveAssemblyReference.cache
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.exe
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/nunit.framework.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/nunit.framework.xml
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.dll.config
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/StreetReporter.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/StreetReporter.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/TechTalk.SpecFlow.dll
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.csproj.FileListAbsolute.txt
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.csprojResolveAssemblyReference.cache
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/StreetReporter/bin/Debug/StreetReporter.dll
ConsoleReporter/StreetReporter/bin/Debug/StreetReporter.pdb
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.csproj.FileListAbsolute.txt
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.csprojResolveAssemblyReference.cache
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.dll
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.pdb
ConsoleReporter/ConsoleReporter.sln.DotSettings.user
ConsoleReporter/ConsoleReporter.v11.suo
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/street1.txt
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/TempPE/StreetReporter.feature.cs.dll
ConsoleReporter/PaperRounder.Unit.Test/bin/Debug/nunit.framework.dll
ConsoleReporter/PaperRounder.Unit.Test/bin/Debug/nunit.framework.xml
ConsoleReporter/PaperRounder.Unit.Test/bin/Debug/PaperRounder.Unit.Test.dll
ConsoleReporter/PaperRounder.Unit.Test/bin/Debug/PaperRounder.Unit.Test.pdb
ConsoleReporter/PaperRounder.Unit.Test/bin/Debug/StreetReporter.dll
ConsoleReporter/PaperRounder.Unit.Test/bin/Debug/StreetReporter.pdb
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/PaperRounder.Unit.Test.csproj.FileListAbsolute.txt
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/PaperRounder.Unit.Test.csprojResolveAssemblyReference.cache
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/PaperRounder.Unit.Test.dll
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/PaperRounder.Unit.Test.pdb
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleReporter/PaperRounder.Unit.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
