ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/ConsoleReporter/bin/Debug/ConsoleReporter.exe
ConsoleReporter/ConsoleReporter/bin/Debug/ConsoleReporter.exe.config
ConsoleReporter/ConsoleReporter/bin/Debug/ConsoleReporter.pdb
ConsoleReporter/ConsoleReporter/bin/Debug/StreetReporter.dll
ConsoleReporter/ConsoleReporter/bin/Debug/StreetReporter.pdb
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.csproj.FileListAbsolute.txt
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.csprojResolveAssemblyReference.cache
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.exe
ConsoleReporter/ConsoleReporter/obj/Debug/ConsoleReporter.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/nunit.framework.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/nunit.framework.xml
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.dll.config
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/StreetReporter.dll
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/StreetReporter.pdb
ConsoleReporter/PaperRounder.Acceptance.Test/bin/Debug/TechTalk.SpecFlow.dll
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.csproj.FileListAbsolute.txt
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.csprojResolveAssemblyReference.cache
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.dll
ConsoleReporter/PaperRounder.Acceptance.Test/obj/Debug/PaperRounder.Acceptance.Test.pdb
ConsoleReporter/StreetReporter/bin/Debug/StreetReporter.dll
ConsoleReporter/StreetReporter/bin/Debug/StreetReporter.pdb
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.csproj.FileListAbsolute.txt
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.csprojResolveAssemblyReference.cache
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.dll
ConsoleReporter/StreetReporter/obj/Debug/StreetReporter.pdb
